{% extends "base.html" %} {% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('devices.add') }}">
    <div>
        <input type="text" name="name" placeholder="Name" autofocus="">
    </div>

    <button>Add</button>
</form>
{% endblock %}