{% extends "base.html" %} {% block content %}
<form method="POST" action="{{ url_for('devices.deletePost') }}">
    <div>
        <input type="hidden" name="deviceid" value="{{ deviceid }}">
    </div>

    <button>Confirm deletion of device {{ deviceid }}</button>
</form>
<form action="{{ url_for('devices.index') }}">
    <input type="submit" value="Cancel" />
</form>
{% endblock %}