{% extends "base.html" %} {% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<h2>
    <a href="{{ url_for('devices.add') }}" class="navbar-item">
        Add device
    </a>
</h2>

{% if devices_array %}
<div>
    <table>
        <td>Device ID</td>
        <td>Name</td>
        <td>Status</td>
        <td>FastAdd</td>
        <td>Token</td>
        <td>Act</td>
        {% for i in devices_array %}
        <tr>
            <td>{{ i.deviceid }}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.timestamp | deviceStatus }}</td>
            <td>{{ i.fastadd }}</td>
            <td>{{ i.tokens }}</td>
            <td><a href="{{ url_for('devices.log', id=i.deviceid) }}">Log</a></td>
            <td><a href="{{ url_for('devices.fastadd', id=i.deviceid) }}">New fastadd</a></td>
            <td><a href="{{ url_for('devices.edit', id=i.deviceid) }}">Edit</a></td>
            <td><a href="{{ url_for('devices.delete', id=i.deviceid) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}