{% extends "base.html" %} {% block content %}

Device logs for {{ deviceid }}
<br>
{% if deviceslogs_array %}
<div>
    <table>
        <td>Log ID</td>
        <td>Time</td>
        <td>Data</td>
        {% for i in deviceslogs_array %}
        <tr>
            <td>{{ i.logid }}</td>
            <td>{{ i.timestamp | ctime }}</td>
            <td>{{ i.logdata }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    Empty logs
{% endif %}

{% endblock %}