{% extends "base.html" %} {% block content %}
<form method="POST" action="{{ url_for('devices.editPost') }}">
    <div>
        <input type="hidden" name="deviceid" value="{{ deviceid }}">
    </div>

    <div>
        <input type="text" name="name" placeholder="Name" value="{{ devicename }}">
    </div>

    <button>Confirm edition of device {{ deviceid }}</button>
</form>
<form action="{{ url_for('devices.index') }}">
    <input type="submit" value="Cancel" />
</form>
{% endblock %}