{% extends "base.html" %} {% block content %}
<form method="POST" action="{{ url_for('devices.fastaddPost') }}">
    <div>
        <input type="hidden" name="deviceid" value="{{ deviceid }}">
    </div>

    <button>Confirm new fastadd generation for device {{ deviceid }}</button>
</form>
<form action="{{ url_for('devices.index') }}">
    <input type="submit" value="Cancel" />
</form>
{% endblock %}