{% extends "base.html" %} {% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('auth.login') }}">
    <div>
        <input type="email" name="email" placeholder="Your Email" autofocus="" />
    </div>

    <div>
        <input type="password" name="password" placeholder="Your Password" />
    </div>

    <div>
        <label>
            <input type="checkbox" />
            Remember me
        </label>
    </div>

    <button>Login</button>
</form>
{% endblock %}
