{% extends "base.html" %} {% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div>
    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
</div>
{% endif %}
{% endwith %}
<form method="POST" action="{{ url_for('auth.signup') }}">
    <div>
        <input type="email" name="email" placeholder="Email" autofocus="">
    </div>

    <div>
        <input type="text" name="name" placeholder="Name" autofocus="">
    </div>

    <div>
        <input type="password" name="password" placeholder="Password">
    </div>

    <button>Sign Up</button>
</form>
{% endblock %}